@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url("/images/bg-us.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.blinking-cursor {
  display: inline-block;
  width: 2px;
  background-color: white;
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.retro-button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5rem;
  border: 2px solid black;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(135deg, #ffcc00 0%, #ff6600 100%);
  text-shadow: 2px 2px black;
  box-shadow: 4px 4px 0px 0px black;
  transition: transform 0.2s ease-in-out;
}

.retro-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px 0px black;
  cursor: pointer;
}

/* Retro 90s Navbar Styling */
.retro-navbar {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #ffd666;
  box-shadow: 4px 4px 0px 0px #000;
}

.retro-navbar a {
  font-size: 1.5rem;
  color: #00ff00; /* Bright green */
  text-shadow: 1px 1px 0px #000;
}

.retro-navbar button {
  font-family: inherit;
  background-color: #ffcc00;
  border: 2px solid #000;
  padding: 0.3rem 1rem;
  text-shadow: 1px 1px 0px #000;
  box-shadow: 2px 2px 0px #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.retro-navbar button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0px #000;
}

.retro-navbar .md:hidden button {
  background-color: #00ccff;
  padding: 0.5rem;
  text-shadow: none;
  border: none;
}

.retro-navbar a:hover {
  color: #ff00ff; /* Bright pink on hover */
}

.retro-navbar div {
  background-color: #00ccff; /* Mobile menu background */
  padding: 1rem;
  border: 3px solid #000;
  box-shadow: 4px 4px 0px #000;
}
